dw_demo01/src/main/mule/dw_demo01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="811c89a8-4dbe-44e3-ae42-ef7820793126" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="dw_demo01Flow" doc:id="041ff35c-896f-4528-ac4f-0d92e050b6ca" >
		<http:listener doc:name="Listener" doc:id="14aac3f6-f4ad-4063-92f8-0c079c768386" config-ref="HTTP_Listener_config" path="/test" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="5ec7a132-a63b-4e01-b87c-ecde229a1fee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	id:1,
	name:"Sajjad Ali",
	company:"Destined"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="691fd909-657f-4a51-8fca-b50dfc0448d4" message="#[payload]"/>
	</flow>
</mule>
